
body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 30px;
    background: #f9f9f9;
}
h1 {
    color: darkorange;
}
#result {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
